#boxes
{
    text-align: center;
    vertical-align: center;
}

.box
{
    width:100px;
    height: 100px;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.redBox
{
    background-color: red;
}

.blueBox
{
    background-color: blue;
}

.greenBox
{
    background-color: green;
}
