body {
    background-image: url('/imgs/indexBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#welcomeDiv {
    height: 92vh;
}