body
{
    text-align: center;
}
#gameFrame
{
    width:600px;
    height: 600px;
    border: 4px solid black;
    display: inline-block;
    background-color: azure;
}
button
{
    margin-top: 220px;
    padding: 10px 40px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
#basket
{
    width: 100px;
    height: 100px;
    position: relative;
    top: 420px;
    left: 0px;
    display: none;
    z-index: 2;
}

.egg
{
    width: 50px;
    height: 50px;
    position: absolute;
    display: inline;
    z-index: 1;
}

p{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    z-index: 3;
    position: relative;
}